#textdomain wesnoth-Naia

[world_entry]
	id=Irdya
	title= _ "Irdya"
	text= _ "<b>Irdya</b> is the name of this vast world. It has existed since time immemorial and gone through countless changes, the latest of which is a devastating event known as <b>the Great Fall</b>, or more simply, <b>the Fall</b>.

Populated by many varied creatures—both sapient and otherwise—Irdya was once a thriving realm that saw the rise and fall of many civilizations, most of them learned in at least one form of magic or technology: humans, elves, dwarves, orcs, to name a few.

Irdya has two suns, named <b>Sela</b> and <b>Naia</b>, as well as one moon occasionally known as <b>Eidyia</b>. Some ancient records of dubious origin claim that a second, smaller moon could seldom be spotted in the times when only Sela roamed the skies.

The largest landmass on Irdya is known as the <b>Great Continent</b>. Much of its geography changed drastically after the Fall, and the current state of civilization has made it impossible to properly chart the alterations."

#ifdef CAMPAIGN_AFTER_THE_STORM_EPISODE_III
	[additional_info]
		requires_milestone=elynia_unleashed
		text= _ "Irdya is one of ten worlds where a primordial construct known as a <b>Seed</b> was planted; Irdya’s is the <b>Seed of Earth</b>, which during the First Cycle gave way to the dominion of <b>Xia’el</b>, Guardian of Earth."
	[/additional_info]
#endif
[/world_entry]

[world_entry]
	id=The_Fall
	title= _ "The Fall"
	text= _ "A long time ago, the world of <b>Irdya</b> was completely transformed by a cataclysm referred to as <b>the Great Fall</b>, or more simply, <b>the Fall</b>.

Much of what is currently “known” about the calamity that befell Irdya has been pieced together from fragments passed down through oral tradition by the peoples who survived the turmoil.

It is said that at the exact time of the catastrophe, a deafening boom louder than even the greatest volcanic eruption was heard; the next instant, the earth violently shook and tore asunder, crumbling every bastion of the old empires to dust and sinking even some of the tallest mountains to the depths of the world. Volcanoes everywhere stirred to life and poured molten rock and poisonous ash into the now darkened skies; then, the vast ocean rose to meet the clouds before fiercely descending upon the land, claiming what little remained standing after the initial convulsion.

Untold millions perished at the hands of Irdya herself; then in the aftermath, millions more were massacred by the panic-stricken in their senseless frenzy. The impenetrable veil in the sky not only denied all of navigational aid, but also caused all plant life to wither away even in places that had not been directly touched by destruction yet; whether it be from the poisonous rain, or from the accursed darkness that suffocated the earth and submerged all into a timeless haze. Soon, any leaders left or risen amongst the ashes of civilization would resort to barbarism and unholy practices in a desperate attempt to perpetuate their pitiable existences in the warped new world.

Thus, the <b>Golden Age</b> of the peoples of Irdya came to its end.

Many years later, the suns <b>Sela</b> and <b>Naia</b> would finally return, only to turn the once verdant Great Continent into a barren husk of rock and sand; a place where all kinds of life battle each other for survival at day, and vengeful spectres of the past haunt the dunes at night."
[/world_entry]
