#textdomain wesnoth-Naia

#define ETHEA_ACHIEVEMENT ID ICON NAME DESC
#arg HIDDEN
#endarg
#arg COMPLETED_ICON
#endarg
#arg COMPLETED_DESC
#endarg
#arg MAX_PROGRESS
#endarg
	[achievement]
		id={ID}
		name={NAME}
		icon={ICON}
		icon_completed={COMPLETED_ICON}
		hidden={HIDDEN}
		description={DESC}
		description_completed={COMPLETED_DESC}
		max_progress={MAX_PROGRESS}
	[/achievement]
#enddef

#define ETHEA_SPOILER_ACHIEVEMENT ID ICON NAME DESC
#arg COMPLETED_ICON
#endarg
	[achievement]
		id={ID}
		name={NAME}
		icon={ICON}
		icon_completed={COMPLETED_ICON}
		hidden=no
		description= _ "Achievement locked"
		description_completed={DESC}
	[/achievement]
#enddef

#define ETHEA_ACHIEVEMENTS ID NAME
	[achievement_group]
		content_for=Project_Ethea.{ID}
		display_name={NAME}
#enddef
