#
# Global events need to be added to a [campaign] tag. The problem is, because
# of the Ethea phase 1 campaigns' structure, the last defined [campaign] is not
# necessarily the one that's being started -- it'll always be the last one
# instead. Therefore the [+campaign] approach will not work.
#
# We use a simple kludge to get around this by having events be injected
# directly by Lua. Note that this allows using pretty much any event WML at
# this point, not just [event]s, but we should probably avoid getting too
# clever here since the UI has not been fully initialized at this point.
#
# IMPORTANT NOTE:
#
# Do bear in mind that any code included here is executed every time the game
# is set up, before preload. Therefore, if you do not include unique
# identifiers for each event defined, they WILL stack up forever.
#

#define GLOBAL_EVENTS _CODE
    [lua]
        code="global_run_wml(...)"
        [args]
            {_CODE}
        [/args]
    [/lua]
#enddef
