#textdomain wesnoth-Naia
#
# codename Naia - Project Ethea phase 1 campaigns shared library
# Copyright (C) 2024 - 2025 by Iris Morelle <iris@irydacea.me>
#
# See COPYING for usage terms.
#

# wmlindent: start ignoring
# wmllint: unbalanced-on

#
# Scenario description macro
#
# In addition to setting the id and name of the scenario in WML, this macro
# provides integration with Naia's JourneyLog system by injecting API calls
# into the global Lua initialization block.
#
# Arguments:
#
#   ID                         Internal scenario id used by WML/Lua
#
#   MNEMONIC                   Scenario identifier used in JourneyLog
#
#   TITLE                      Player-readable scenario title
#
#   HIDDEN=no                  Whether the scenario should be hidden from the
#                              JourneyLog user interface under normal
#                              circumstances (i.e. not in debug mode)
#
# Example usage:
#
#   {NAIA_SCENARIO "01_Sea_of_Silence" "E1S1" ( _ "Sea of Silence")}
#
#define NAIA_SCENARIO ID MNEMONIC TITLE
#arg HIDDEN
	no
#endarg
	id={ID}
	name={TITLE}
	[/scenario]

	[lua]
		code=<< journeylog.register_scenario_wml(...) >>
		[args]
			id={ID}
			title={TITLE}
			abbrev={MNEMONIC}
			hidden={HIDDEN}
		[/args]
	[/lua]

	[+scenario]
#enddef

#define @ CODE
	[lua]
		code={CODE}
	[/lua]
#enddef

#define @? WML CODE
	[lua]
		code={CODE}
		[args]
			{WML}
		[/args]
	[/lua]
#enddef

# wmllint: unbalanced-off
# wmlindent: stop ignoring
