# wmllint: no translatables

# wmlindent: start ignoring
#define NPC_HIVE_UNIT_TYPES
Shaxthal Worm#enddef
# wmlindent: stop ignoring

#define NPC_HIVE_BEHAVIOR _SIDE_NUMBER
    [event]
        name="side "+{_SIDE_NUMBER}+" turn refresh"
        first_time_only=no
        [roaming_shaxthal_behavior]
            types={NPC_BIRD_UNIT_TYPES}
        [/roaming_shaxthal_behavior]
    [/event]
#enddef

#define NPC_HIVE_EXCLUDE _SLF
    [+event]
        [+roaming_shaxthal_behavior]
            [avoid]
                {_SLF}
            [/avoid]
        [/roaming_shaxthal_behavior]
    [/event]
#enddef
