#textdomain wesnoth-Naia

#
# Implementation of event-based unit abilities.
#

#define ABILITY_STEALTH:GLOBAL_INIT
    [set_menu_item]
        id=naia:30_abilities_stealth
        description= _ "Select Stealth Terrain"
        image="icons/menu-stealth.png"

        [show_if]
            [have_unit]
                x,y=$x1,$y1
                ability=stealth
                [not]
                    # Cannot use next to enemies
                    [filter_adjacent]
                        is_enemy=yes
                    [/filter_adjacent]
                [/not]
                [and]
                    # Can only use on units at rest
                    formula="if(self.moves >= self.max_moves and self.attacks_left >= self.max_attacks, 1, 0)"
                [/and]
            [/have_unit]
        [/show_if]

        [command]
            [stealth_ability_ui]
                x,y=$x1,$y1
            [/stealth_ability_ui]
        [/command]
    [/set_menu_item]
#enddef

#define ABILITY_TESTAMENT_EVENTS
    [event]
        id=ua_testament:death_handler
        name=die
        first_time_only=no
        [filter]
            ability=testament
        [/filter]

        [store_unit]
            [filter]
                [filter_adjacent]
                    x,y=$x1,$y1
                [/filter_adjacent]

                [filter_side]
                    [allied_with]
                        side=$unit.side
                    [/allied_with]
                [/filter_side]

                formula="(self.hitpoints < self.max_hitpoints * 0.50)"
            [/filter]

            kill=no
            variable=temp_UA_TESTAMENT_targets
        [/store_unit]

        [foreach]
            array=temp_UA_TESTAMENT_targets
            [do]
                {VARIABLE temp_UA_TESTAMENT_heal_amount "$(round($this_item.max_hitpoints * 0.50 - $this_item.hitpoints))"}
                {VARIABLE this_item.hitpoints "$($this_item.max_hitpoints * 0.50)"}

                [unstore_unit]
                    find_vacant=no
                    variable=this_item
                    text=$temp_UA_TESTAMENT_heal_amount
                    {COLOR_HEAL}
                [/unstore_unit]
            [/do]
        [/foreach]

        [ua_testament_terraform][/ua_testament_terraform]

        {CLEAR_VARIABLE temp_UA_TESTAMENT_heal_amount,temp_UA_TESTAMENT_targets}
    [/event]
#enddef
