#textdomain wesnoth-Naia

# wmlindent: start ignoring

# wmllint: unbalanced-on

#
# Used as a convenience wrapper to include ability implementation details in
# unit type definitions without copy-pasting the close-reopen tag boilerplate.
# This requires that the macro actually holding the event WML for the ability
# is named ABILITY_<suffix>_EVENTS:
#
#   [dummy]
#      id=awesome_aura
#   [/dummy]
#
#   {ABILITY_EVENTS AWESOME_AURA} # includes ABILITY_AWESOME_AURA_EVENTS
#
#define ABILITY_EVENTS _SUFFIX
    # wmlxgettext: [abilities]
    [/abilities]
    {ABILITY_{_SUFFIX}_EVENTS}
    [+abilities]
    # wmlxgettext: [/abilities]
#enddef

# wmllint: unbalanced-off

# all forest terrains (tree, mushroom)
#define VEGETATED_TERRAINS
*^F*, *^Uf, *^Ufi #enddef

#define NOTES
    _ "

Notes: "#enddef

# As its used by some abilities' descriptions in this file, we cannot move this macro to
# special-notes.cfg without running the risk of getting a blank string by the preprocessor.
#define SPECIAL_NOTES_VEGETATED_TERRAINS
    _ " Vegetated terrains are forest, great tree, and mushroom grove hexes."#enddef

#define _NAIA_ABILITY_SYLVAN_SPARK_NAME
    _ "sylvan spark"
#enddef
#define _NAIA_ABILITY_SYLVAN_SPARK_DESC
    _ "While in vegetated terrains, the unit will heal itself 5 hp per turn. If it is poisoned, it will remove the poison instead of healing."+{NOTES}+{SPECIAL_NOTES_VEGETATED_TERRAINS}
#enddef

# wmlindent: stop ignoring

#define ABILITY_OBSCURE
    [illuminates]
        id=obscure
        value=-25
        max_value=-25
        cumulative=no
        name= _ "obscures"
        description= _ "This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse.

Any units adjacent to this unit will fight as if it were dusk when it is day, and as if it were night when it is dusk."
        affect_self=yes
    [/illuminates]
#enddef

#define ABILITY_SYLVAN_SPARK
    [regenerate]
        value=5
        id=sylvan_spark
        name={_NAIA_ABILITY_SYLVAN_SPARK_NAME}
        description={_NAIA_ABILITY_SYLVAN_SPARK_DESC}
        name_inactive={_NAIA_ABILITY_SYLVAN_SPARK_NAME}
        description_inactive={_NAIA_ABILITY_SYLVAN_SPARK_DESC}
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain={VEGETATED_TERRAINS}
            [/filter_location]
        [/filter_self]
        poison=cured
    [/regenerate]
#enddef

#
# Protection
#

#define ABILITY_PROTECTION
    [resistance]
        id=protection
        add=20
        max_value=50
        apply_to=blade,pierce,impact,fire,cold,arcane
        name= _ "protection"
        description= _ "Adjacent units of lower level from this side receive a +20% bonus to all resistances (up to a maximum of 50%)."
        affect_self=no
        [filter_base_value]
            less_than=50
        [/filter_base_value]
        [affect_adjacent]
            [filter]
                formula="level < other.level"
            [/filter]
        [/affect_adjacent]
    [/resistance]
#enddef

#
# Terror
#

#define ABILITY_TERROR
    [leadership]
        id=terror
        value="(-(15 * (level - other.level) + 15))"
        cumulative=no
        name= _ "terror"
        description= _ "This unit can frighten enemy units that are next to it, making them fight worse.

Adjacent enemy units of the same or lower level will do less damage in battle. When an enemy unit of the same or lower level is adjacent and engages in combat, its attacks do 15% less damage times the difference in their levels + 15%."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            [filter]
                formula="level <= other.level"
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

############################################################################
#                                                                          #
#                      UNIQUE UNIT OR AMLA ABILITIES                       #
#                                                                          #
############################################################################

#define ABILITY_SYLVAN_ESSENCE
    [heals]
        value=8
        id=sylvan_essence_healing_and_curing
        name= _ "sylvan essence"
        description= _ "This unit can heal and cure friendly units on adjacent hexes every turn, to a base maximum of 8 HP. In vegetated terrains, it will conceal itself from its enemies. It can also regenerate (but not unpoison) 3 HP per-turn, but only on vegetated terrains."+{NOTES}+{SPECIAL_NOTES_VEGETATED_TERRAINS}
        affect_allies=yes
        affect_self=no
        poison=cured
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
    [/heals]
    [hides]
        id=sylvan_essence_conceal
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain={VEGETATED_TERRAINS}
            [/filter_location]
        [/filter_self]
    [/hides]
    [regenerate]
        value=3
        # NOTE: AtS has special knowledge of this id (macros/amla-elynia.cfg)
        id=sylvan_essence_selfheal_L0
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain={VEGETATED_TERRAINS}
            [/filter_location]
        [/filter_self]
    [/regenerate]
#enddef

#define ABILITY_SYLVAN_ESSENCE_UNION
    [illuminates]
        id=sylvan_essence_illum
        value=25
        max_value=25
        cumulative=no
        name= _ "sylvan essence"
        description=_"This unit illuminates the surrounding area, making lawful units fight better, and chaotic units fight worse. Any units adjacent to this unit will fight as if it were dusk when it is night, and as if it were day when it is dusk.

The unit also can heal and cure friendly units on adjacent hexes every turn, to a base maximum of 8 HP. In vegetated terrains, it will conceal itself from its enemies. It can also regenerate (but not unpoison) 4 HP per-turn, but only in vegetated terrains."+{NOTES}+{SPECIAL_NOTES_VEGETATED_TERRAINS}
        affect_self=yes
    [/illuminates]
    [heals]
        value=8
        id=sylvan_essence_healing
        affect_allies=yes
        affect_self=no
        poison=cured
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
    [/heals]
    [hides]
        id=sylvan_essence_conceal
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain={VEGETATED_TERRAINS}
            [/filter_location]
        [/filter_self]
    [/hides]
    [regenerate]
        value=4
        id=sylvan_essence_selfheal
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain={VEGETATED_TERRAINS}
            [/filter_location]
        [/filter_self]
    [/regenerate]
#enddef

