#textdomain wesnoth-Naia

# Achievement macros use the undefined-by-default ACHIEVEMENT:NAMESPACE macro
# to define a common value for the content_for= attribute. This macro should
# be manually defined to a relevant value before any of the other macros are
# substituted anywhere, e.g. in base-loader.cfg prior to the inclusion of all
# other WML files.

#define ACHIEVEMENT:GET ID
	[set_achievement]
		id={ID}
		content_for={ACHIEVEMENT:NAMESPACE}
	[/set_achievement]
#enddef

#define ACHIEVEMENT:SUB_GET ID SUB_ID
	[set_sub_achievement]
		id={ID}
		sub_id={SUB_ID}
		content_for={ACHIEVEMENT:NAMESPACE}
	[/set_sub_achievement]
#enddef

# FIXME: Progressive achievements are disabled in this release because of
# <https://github.com/project-ethea/Naia/issues/33>
#ifdef 0
#define ACHIEVEMENT:PROGRESS ID AMOUNT
	[progress_achievement]
		id={ID}
		content_for={ACHIEVEMENT:NAMESPACE}
		amount={AMOUNT}
	[/progress_achievement]
#enddef
#else
#define ACHIEVEMENT:PROGRESS ID AMOUNT
#enddef
#endif

#define MILESTONE ID
#arg NOTIFICATION
	yes
#endarg
	[unlock_milestone]
		milestone={ID}
		notification={NOTIFICATION}
	[/unlock_milestone]
#enddef
