#textdomain wesnoth-Naia

# Achievement macros use the undefined-by-default ACHIEVEMENT:NAMESPACE macro
# to define a common value for the content_for= attribute. This macro should
# be manually defined to a relevant value before any of the other macros are
# substituted anywhere, e.g. in base-loader.cfg prior to the inclusion of all
# other WML files.

#define ACHIEVEMENT:GET ID
	[set_achievement]
		id={ID}
		content_for={ACHIEVEMENT:NAMESPACE}
	[/set_achievement]
#enddef

#define ACHIEVEMENT:SUB_GET ID SUB_ID
	[set_sub_achievement]
		id={ID}
		sub_id={SUB_ID}
		content_for={ACHIEVEMENT:NAMESPACE}
	[/set_sub_achievement]
#enddef

#define PROGRESS_ACHIEVEMENT ID AMOUNT
	[progress_achievement]
		id={ID}
		content_for={ACHIEVEMENT:NAMESPACE}
		amount={AMOUNT}
	[/progress_achievement]
#enddef

#define MILESTONE ID
	[unlock_milestone]
		milestone={ID}
	[/unlock_milestone]
#enddef
