#textdomain wesnoth-Naia

#
# AMLAs for Mal Keshar. While not to the same extent as Galas, his
# advancements gradually build him up from a weakened state, and also allow
# him to upgrade to a level 4 unit type.
#
# The idea is that by the end of IftU the player has a fully-built unit who
# gets carried over to AtS with a few additional AMLAs becoming available
# then, but as a safeguard and for players who don't play both campaigns on
# the same device, AtS uses a partially-built unit as the basis for its own
# progression.
#
# Also note that Mal Keshar's unit type is temporarily replaced due to story
# reasons around the climax of IftU - in this state, he has no advancements
# and his unit type has to be an all-round improvement over his fully advanced
# regular version at level 4.
#
# AMLAs in the main macro are grouped according to their logical relationship.
# Level-gated AMLAs are marked with a relevant comment on the right.
#
# NOTE: In order to ensure Naia's [amla_list] UI has knowledge of all AMLAs at
# all times without indulging in Exceptional Behavior™, we need to include
# every single AMLA for all members of the unit line, which unfortunately
# results in some amount of pointless WML bloat; such is the price of KISS.
#

###############################################################################
#                           INDEX / COLLECTION MACROS                         #
###############################################################################

#define AMLA_TREE:MAL_KESHAR
    {AMLA_MAL_KESHAR:PERFECTION_L4}

    {AMLA_MAL_KESHAR:STRENGTH_L12}
	{AMLA_MAL_KESHAR:STRENGTH_L13} # lvl 4
	{AMLA_MAL_KESHAR:STRENGTH_L14}

    {AMLA_MAL_KESHAR:SCOURGE_L1}
	{AMLA_MAL_KESHAR:SCOURGE_L2}   # lvl 4

    {AMLA_MAL_KESHAR:FOCUS_L13}
	{AMLA_MAL_KESHAR:FOCUS_L14}
	{AMLA_MAL_KESHAR:FOCUS_L15}    # lvl 4
	{AMLA_MAL_KESHAR:FOCUS_L16}

    {AMLA_MAL_KESHAR:SHIELDING_L5}
	{AMLA_MAL_KESHAR:SHIELDING_L6} # lvl 4 promotion required
    {AMLA_MAL_KESHAR:SHIELDING_L7}

    {AMLA_MAL_KESHAR:MALICE}

    {AMLA_VITALITY} {AMLA_REQUIRES amla_mal_keshar_perfection_l4}
#enddef

###############################################################################
#                             BATTLEFIELD PROMOTION                           #
###############################################################################

#define AMLA_MAL_KESHAR:PERFECTION_L4
	{CHARACTER_AMLA
		amla_mal_keshar_perfection_l4
		amla_mal_keshar_strength_l12,amla_mal_keshar_focus_l13
		attacks/staff-plague.png
		( _ "Perfection III: level 4")
		(
			[effect]
				apply_to=type
				name=Undying Eradicator
			[/effect]

			{EFFECT_FULLHEAL}
		)
	}
#enddef

###############################################################################
#                              STRENGTH/SCOURGE                               #
###############################################################################

#define AMLA_MAL_KESHAR:STRENGTH_L12
    {CHARACTER_AMLA
    amla_mal_keshar_strength_l12
    ()
    attacks/touch-undead.png ( _ "Strength ███: hitpoints +6, touch strikes +1")
    (
        [effect]
            apply_to=hitpoints
            increase,increase_total=6,6
        [/effect]
        [effect]
            apply_to=attack
            name=touch
            increase_attacks=1
        [/effect]
    )}
#enddef

#define AMLA_MAL_KESHAR:STRENGTH_L13
    {CHARACTER_AMLA
    amla_mal_keshar_strength_l13
    amla_mal_keshar_perfection_l4,amla_mal_keshar_strength_l12
    attacks/touch-undead.png ( _ "Strength ████: hitpoints +6, touch damage +1")
    (
        [effect]
            apply_to=hitpoints
            increase,increase_total=6,6
        [/effect]
        [effect]
            apply_to=attack
            name=touch
            increase_damage=1
        [/effect]
    )}
#enddef

#define AMLA_MAL_KESHAR:STRENGTH_L14
    {CHARACTER_AMLA
    amla_mal_keshar_strength_l14
    amla_mal_keshar_strength_l13
    attacks/touch-undead.png ( _ "Strength ███: hitpoints +6")
    (
        [effect]
            apply_to=hitpoints
            increase,increase_total=6,6
        [/effect]
    )}
#enddef

#define AMLA_MAL_KESHAR:SCOURGE_L1
    {CHARACTER_AMLA
    amla_mal_keshar_scourge_l1
    amla_mal_keshar_strength_l12
    attacks/touch-undead.png ( _ "Scourge I: touch plague weapon special")
    (
        [effect]
            apply_to=attack
            name=touch
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_PLAGUE}
            [/set_specials]
        [/effect]
    )}
#enddef

#define AMLA_MAL_KESHAR:SCOURGE_L2
    {CHARACTER_AMLA
    amla_mal_keshar_scourge_l2
    amla_mal_keshar_perfection_l4,amla_mal_keshar_strength_l13,amla_mal_keshar_scourge_l1
    attacks/touch-undead.png ( _ "Scourge II: touch plague summon is Soulless")
    (
        [effect]
            apply_to=attack
            name=touch
            remove_specials=plague
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_PLAGUE_TYPE Soulless}
            [/set_specials]
        [/effect]
    )}
#enddef

###############################################################################
#                                    FOCUS                                    #
###############################################################################

#define AMLA_MAL_KESHAR:FOCUS_L13
    {CHARACTER_AMLA
    amla_mal_keshar_focus_l13
    ()
    attacks/dark-missile.png ( _ "Focus ████: shadow wave damage +1")
    (
        [effect]
            apply_to=attack
            name=shadow wave
            increase_damage=1
        [/effect]
    )}
#enddef

#define AMLA_MAL_KESHAR:FOCUS_L14
    {CHARACTER_AMLA
    amla_mal_keshar_focus_l14
    amla_mal_keshar_focus_l13
    attacks/iceball.png ( _ "Focus ███: chill tempest damage +1, strikes +1")
    (
        [effect]
            apply_to=attack
            name=chill tempest
            increase_damage=1
            increase_attacks=1
        [/effect]
    )}
#enddef

#define AMLA_MAL_KESHAR:FOCUS_L15
    {CHARACTER_AMLA
    amla_mal_keshar_focus_l15
    amla_mal_keshar_perfection_l4,amla_mal_keshar_focus_l14
    attacks/dark-missile.png ( _ "Focus ██: shadow wave strikes +1")
    (
        [effect]
            apply_to=attack
            name=shadow wave
            increase_attacks=1
        [/effect]
    )}
#enddef

#define AMLA_MAL_KESHAR:FOCUS_L16
    {CHARACTER_AMLA
    amla_mal_keshar_focus_l16
    amla_mal_keshar_focus_l15
    attacks/dark-missile.png ( _ "Focus ███: all ranged damage +1")
    (
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=1
        [/effect]
    )}
#enddef

###############################################################################
#                                  SHIELDING                                  #
###############################################################################

#define AMLA_MAL_KESHAR:SHIELDING_L5
    {CHARACTER_AMLA
    amla_mal_keshar_shielding_l5
    amla_mal_keshar_focus_l13
    attacks/magic-missile.png ( _ "Shielding █: blade, impact, pierce resistance +10%")
    (
        [effect]
            apply_to=resistance
            [resistance]
                blade=-10
                impact=-10
                pierce=-10
            [/resistance]
        [/effect]
    )}
#enddef

#define AMLA_MAL_KESHAR:SHIELDING_L6
    {CHARACTER_AMLA
    amla_mal_keshar_shielding_l6
    amla_mal_keshar_perfection_l4,amla_mal_keshar_shielding_l5
    attacks/magic-missile.png ( _ "Shielding ██: fire resistance +10%")
    (
        [effect]
            apply_to=resistance
            [resistance]
                fire=-10
            [/resistance]
        [/effect]
    )}
#enddef

#define AMLA_MAL_KESHAR:SHIELDING_L7
    {CHARACTER_AMLA
    amla_mal_keshar_shielding_l7
    amla_mal_keshar_shielding_l6
    attacks/magic-missile.png ( _ "Shielding ███: arcane resistance +10%")
    (
        [effect]
            apply_to=resistance
            [resistance]
                arcane=-10
            [/resistance]
        [/effect]
    )}
#enddef

###############################################################################
#                               EXTRA ABILITIES                               #
###############################################################################

#define AMLA_MAL_KESHAR:MALICE
    {CHARACTER_AMLA
    amla_mal_keshar_malice
    amla_mal_keshar_focus_l13
    attacks/wail.png ( _ "Malediction: malice ability")
    (
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_MALICE}
            [/abilities]
        [/effect]
    )}
#enddef
