#textdomain wesnoth-Naia

#
# AMLAs for Galas. Note that he is an unusual unit in that his advancements
# gradually build him up while also allowing his unit type to be upgraded at
# certain milestones for greater buffs, which means that his unit types have
# generally worthless base stats.
#
# The idea is that by the end of IftU the player has a fully-built Galas who
# gets carried over to AtS with a few additional AMLAs becoming available
# then, but as a safeguard and for players who don't play both campaigns on
# the same device, AtS uses a partially-built Galas as the basis for its own
# progression.
#
# AMLAs in the main macro are grouped according to their logical relationship.
# Level-gated AMLAs are marked with a relevant comment on the right.
#
# NOTE: In order to ensure Naia's [amla_list] UI has knowledge of all AMLAs at
# all times without indulging in Exceptional Behavior™, we need to include
# every single AMLA for all members of the unit line, which unfortunately
# results in some amount of pointless WML bloat; such is the price of KISS.
#

###############################################################################
#                           INDEX / COLLECTION MACROS                         #
###############################################################################

#define AMLA_TREE:GALAS
    {AMLA_GALAS:BATTLEFIELD_PROMOTION_L2}
    {AMLA_GALAS:BATTLEFIELD_PROMOTION_L3}
    {AMLA_GALAS:BATTLEFIELD_PROMOTION_L4}

    {AMLA_GALAS:SWORDSMANSHIP_L1}
    {AMLA_GALAS:SWORDSMANSHIP_L2}            # lvl 2
    {AMLA_GALAS:SWORDSMANSHIP_L3}            # lvl 3

    {AMLA_GALAS:DUELIST}                     # lvl 3

    {AMLA_GALAS:ARCHERY_L1}
    {AMLA_GALAS:ARCHERY_L2}                  # lvl 2
    {AMLA_GALAS:ARCHERY_L3}
    {AMLA_GALAS:ARCHERY_L4}                  # lvl 3

    {AMLA_GALAS:DEXTERITY}                   # lvl 2
    {AMLA_GALAS:MARKSMANSHIP}                # lvl 3

    {AMLA_GALAS:ARMOR_L1}
    {AMLA_GALAS:ARMOR_L2}                    # lvl 2
    {AMLA_GALAS:ARMOR_L3}                    # lvl 3

    {AMLA_GALAS:TACTICS_BOLAS_L1}
    {AMLA_GALAS:TACTICS_BOLAS_L2}            # lvl 2
    {AMLA_GALAS:TACTICS_BOLAS_L3}            # lvl 3
    {AMLA_GALAS:TACTICS_BOLAS_L4}            # lvl 4

    {AMLA_GALAS:TACTICS_DESERT_WARFARE}
    {AMLA_GALAS:TACTICS_TACTICIAN}           # lvl 2
    {AMLA_GALAS:TACTICS_UNDERGROUND_WARFARE}
    {AMLA_GALAS:TACTICS_STEALTH}             # lvl 3

    #{AMLA_GALAS:STRENGTH_FURY}              # lvl 4
    {AMLA_GALAS:STRENGTH_INITIATIVE}

    {AMLA_VITALITY} {AMLA_REQUIRES amla_galas_promotion_l4}
#enddef

###############################################################################
#                             BATTLEFIELD PROMOTION                           #
###############################################################################

#define AMLA_GALAS:BATTLEFIELD_PROMOTION_TEMPLATE _ID _NAME _TARGET_TYPE _REQUIREMENTS
    {CHARACTER_AMLA
    ({_ID})
    ({_REQUIREMENTS})
    icons/hat-huntsman.png ({_NAME})
    (
        [effect]
            apply_to=type
            name={_TARGET_TYPE}
        [/effect]

        {EFFECT_FULLHEAL}
    )}
#enddef

#define AMLA_GALAS:BATTLEFIELD_PROMOTION_L2
    {AMLA_GALAS:BATTLEFIELD_PROMOTION_TEMPLATE
        amla_galas_promotion_l2
        ( _ "Battlefield Promotion I: level 2")
        ("Elvish Field Steward")
        amla_galas_swordsmanship_l1,amla_galas_archery_l1
    }
#enddef

#define AMLA_GALAS:BATTLEFIELD_PROMOTION_L3
    {AMLA_GALAS:BATTLEFIELD_PROMOTION_TEMPLATE
        amla_galas_promotion_l3
        ( _ "Battlefield Promotion II: level 3")
        ("Elvish Pathfinder")
        amla_galas_promotion_l2,amla_galas_swordsmanship_l2,amla_galas_archery_l2
    }
#enddef

#define AMLA_GALAS:BATTLEFIELD_PROMOTION_L4
    {AMLA_GALAS:BATTLEFIELD_PROMOTION_TEMPLATE
        amla_galas_promotion_l4
        ( _ "Battlefield Promotion III: level 4")
        ("Elvish Wayfarer")
        amla_galas_promotion_l3,amla_galas_swordsmanship_l3
    }
#enddef

###############################################################################
#                                 SWORDSMANSHIP                               #
###############################################################################

#define AMLA_GALAS:SWORDSMANSHIP_L1
    {CHARACTER_AMLA
    amla_galas_swordsmanship_l1
    ()
    attacks/sword-elven.png ( _ "Swordsmanship I: hitpoints +8, sword damage +1")
    (
        [effect]
            apply_to=hitpoints
            increase,increase_total=8,8
        [/effect]
        [effect]
            apply_to=attack
            name=sword
            increase_damage=1
        [/effect]
    )}
#enddef

#define AMLA_GALAS:SWORDSMANSHIP_L2
    {CHARACTER_AMLA
    amla_galas_swordsmanship_l2
    amla_galas_promotion_l2,amla_galas_swordsmanship_l1
    attacks/sword-elven.png ( _ "Swordsmanship II: hitpoints +10, sword damage +1")
    (
        [effect]
            apply_to=hitpoints
            increase,increase_total=10,10
        [/effect]
        [effect]
            apply_to=attack
            name=sword
            increase_damage=1
        [/effect]
    )}
#enddef

#define AMLA_GALAS:SWORDSMANSHIP_L3
    {CHARACTER_AMLA
    amla_galas_swordsmanship_l3
    amla_galas_promotion_l3,amla_galas_swordsmanship_l2
    attacks/sword-elven.png ( _ "Swordsmanship III: hitpoints +8, sword damage +1")
    (
        [effect]
            apply_to=hitpoints
            increase,increase_total=8,8
        [/effect]
        [effect]
            apply_to=attack
            name=sword
            increase_damage=2
        [/effect]
    )}
#enddef

#define AMLA_GALAS:DUELIST
    {CHARACTER_AMLA
    amla_galas_duelist
    amla_galas_promotion_l3,amla_galas_swordsmanship_l2
    attacks/sword-elven-magic.png ( _ "Duelist: sword strikes +1")
    (
        [effect]
            apply_to=attack
            name=sword
            increase_attacks=1
        [/effect]
    )}
#enddef

###############################################################################
#                                    ARCHERY                                  #
###############################################################################

#define AMLA_GALAS:ARCHERY_L1
    {CHARACTER_AMLA
    amla_galas_archery_l1
    ()
    attacks/bow-elven.png ( _ "Archery I: hitpoints +4, bow damage +2")
    (
        [effect]
            apply_to=hitpoints
            increase,increase_total=4,4
        [/effect]
        [effect]
            apply_to=attack
            name=bow
            increase_damage=2
        [/effect]
    )}
#enddef

#define AMLA_GALAS:ARCHERY_L2
    {CHARACTER_AMLA
    amla_galas_archery_l2
    amla_galas_promotion_l2,amla_galas_archery_l1
    attacks/bow-elven.png ( _ "Archery II: hitpoints +2, bow damage +1")
    (
        [effect]
            apply_to=hitpoints
            increase,increase_total=2,2
        [/effect]
        [effect]
            apply_to=attack
            name=bow
            increase_damage=1
        [/effect]
    )}
#enddef

#define AMLA_GALAS:ARCHERY_L3
    {CHARACTER_AMLA
    amla_galas_archery_l3
    amla_galas_archery_l2
    attacks/bow-elven.png ( _ "Archery III: hitpoints +4, bow damage +1")
    (
        [effect]
            apply_to=hitpoints
            increase,increase_total=4,4
        [/effect]
        [effect]
            apply_to=attack
            name=bow
            increase_damage=1
        [/effect]
    )}
#enddef

#define AMLA_GALAS:ARCHERY_L4
    {CHARACTER_AMLA
    amla_galas_archery_l4
    amla_galas_promotion_l3,amla_galas_archery_l3
    attacks/bow-elven.png ( _ "Archery IV: hitpoints +2, bow damage +1")
    (
        [effect]
            apply_to=hitpoints
            increase,increase_total=2,2
        [/effect]
        [effect]
            apply_to=attack
            name=bow
            increase_damage=1
        [/effect]
    )}
#enddef

#define AMLA_GALAS:DEXTERITY
    {CHARACTER_AMLA
    amla_galas_dexterity
    amla_galas_promotion_l2,amla_galas_archery_l1
    attacks/bow-elven-magic.png ( _ "Dexterity: bow strikes +1")
    (
        [effect]
            apply_to=attack
            name=bow
            increase_attacks=1
        [/effect]
    )}
#enddef

#define AMLA_GALAS:MARKSMANSHIP
    {CHARACTER_AMLA
    amla_galas_marskmanship
    amla_galas_promotion_l3,amla_galas_archery_l3
    attacks/bow-elven-magic.png ( _ "Marksmanship: bow marksman special")
    (
        [effect]
            apply_to=attack
            name=bow
            [set_specials]
                mode=append
				{WEAPON_SPECIAL_MARKSMAN}
			[/set_specials]
        [/effect]
    )}
#enddef

###############################################################################
#                                     TACTICS                                 #
###############################################################################

#define AMLA_GALAS:TACTICS_STEALTH
    {CHARACTER_AMLA
    amla_galas_tactics_stealth
    amla_galas_promotion_l3
    icons/cloak_leather_brown.png ( _ "Tactics: stealth ability")
    (
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_STEALTH}
            [/abilities]
        [/effect]
    )}
#enddef

#define AMLA_GALAS:TACTICS_TACTICIAN
    {CHARACTER_AMLA
    amla_galas_tactics_tactician
    amla_galas_promotion_l2
    icons/letter_and_ale.png ( _ "Tactics: tactician ability")
    (
        [effect]
            apply_to=new_ability
			[abilities]
				{ABILITY_TACTICIAN}
			[/abilities]
        [/effect]
    )}
#enddef

#define AMLA_GALAS:TACTICS_DESERT_WARFARE
	{CHARACTER_AMLA
	amla_galas_tactics_desert_warfare
	()
	icons/sandals.png ( _ "Tactics: improved defense on sand")
	(
		[effect]
			apply_to=defense
			replace=no
			[defense]
				sand=-10
			[/defense]
		[/effect]
	)}
#enddef

#define AMLA_GALAS:TACTICS_UNDERGROUND_WARFARE
	{CHARACTER_AMLA
	amla_galas_tactics_underground_warfare
	amla_galas_promotion_l2
	icons/sandals.png ( _ "Tactics: improved movement/defense in caves")
	(
		[effect]
			apply_to=movement_costs
			replace=no
			[movement_costs]
				cave=-1
			[/movement_costs]
		[/effect]
		[effect]
			apply_to=defense
			replace=no
			[defense]
				cave=-10
			[/defense]
		[/effect]
	)}
#enddef

#define AMLA_GALAS:TACTICS_BOLAS_L1
    {CHARACTER_AMLA
    amla_galas_tactics_bolas_l1
    amla_galas_swordsmanship_l1
    attacks/bolas.png ( _ "Tactics: new attack (ranged/impact 7×2, slows)")
    (
        [effect]
            apply_to=new_attack
			name=bolas
			description= _"bolas"
			type=impact
			range=ranged
			damage=7
			number=2
			[specials]
				{WEAPON_SPECIAL_SLOW}
			[/specials]
        [/effect]
    )}
#enddef

#define AMLA_GALAS:TACTICS_BOLAS_L2
    {CHARACTER_AMLA
    amla_galas_tactics_bolas_l2
    amla_galas_promotion_l2,amla_galas_tactics_bolas_l1
    attacks/bolas.png ( _ "Tactics: bolas damage +2")
    (
        [effect]
            apply_to=attack
			name=bolas
			increase_damage=2
        [/effect]
    )}
#enddef

#define AMLA_GALAS:TACTICS_BOLAS_L3
    {CHARACTER_AMLA
    amla_galas_tactics_bolas_l3
    amla_galas_promotion_l3,amla_galas_tactics_bolas_l2
    attacks/bolas.png ( _ "Tactics: bolas damage +3")
    (
        [effect]
            apply_to=attack
			name=bolas
			increase_damage=3
        [/effect]
    )}
#enddef

#define AMLA_GALAS:TACTICS_BOLAS_L4
    {CHARACTER_AMLA
    amla_galas_tactics_bolas_l4
    amla_galas_promotion_l4,amla_galas_tactics_bolas_l3
    attacks/bolas.png ( _ "Tactics: bolas precision weapon special")
    (
        [effect]
            apply_to=attack
			name=bolas
			[set_specials]
				mode=append
				{WEAPON_SPECIAL_PRECISION}
			[/set_specials]
        [/effect]
    )}
#enddef

###############################################################################
#                                ARMOUR UPGRADES                              #
###############################################################################

#define AMLA_GALAS:ARMOR_L1
    {CHARACTER_AMLA
    amla_galas_armor_l1
    ()
    icons/armor-chain.png ( _ "Armor I: blade and pierce resistance +10%")
    (
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                blade=-10
                pierce=-10
            [/resistance]
        [/effect]
    )}
#enddef

#define AMLA_GALAS:ARMOR_L2
    {CHARACTER_AMLA
    amla_galas_armor_l2
    amla_galas_promotion_l2,amla_galas_armor_l1
    icons/armor-chain.png ( _ "Armor II: impact resistance +10%")
    (
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                impact=-10
            [/resistance]
        [/effect]
    )}
#enddef

#define AMLA_GALAS:ARMOR_L3
    {CHARACTER_AMLA
    amla_galas_armor_l3
    amla_galas_promotion_l3,amla_galas_armor_l2
    icons/armor-chain.png ( _ "Armor III: blade resistance +10%")
    (
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                blade=-10
            [/resistance]
        [/effect]
    )}
#enddef

###############################################################################
#                                 MISCELLANEOUS                               #
###############################################################################

#ifdef 0
#define AMLA_GALAS:STRENGTH_FURY
    {CHARACTER_AMLA
    amla_galas_strength_fury
    amla_galas_promotion_l4
    attacks/frenzy.png ( _ "Fury: berserker weapon special (melee only)")
    (
        [effect]
            apply_to=attack
            range=melee
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_BERSERK}
            [/set_specials]
        [/effect]
    )}
    {DISABLE_AMLA_WITH amla_galas_strength_initiative}
#enddef
#endif

#define AMLA_GALAS:STRENGTH_INITIATIVE
    {CHARACTER_AMLA
    amla_galas_strength_initiative
    amla_galas_promotion_l4
    icons/letter_and_ale.png ( _ "Initiative: first strike weapon special (melee only)")
    (
        [effect]
            apply_to=attack
            range=melee
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_FIRSTSTRIKE}
            [/set_specials]
        [/effect]
    )}
    #{DISABLE_AMLA_WITH amla_galas_strength_fury}
#enddef
