#textdomain wesnoth-Naia

#define OBJECTIVE_FORMAT:WIN
    red,green,blue=95,255,152
#enddef

#define OBJECTIVE_FORMAT:LOSS
    red,green,blue=255,100,100
#enddef

#define OBJECTIVE_FORMAT:CARRYOVER
    red,green,blue=255,196,128
#enddef

#define OBJECTIVE_FORMAT:PLAIN
    red,green,blue=215,215,215
#enddef

#textdomain wesnoth

# HACK: patch core macro to avoid code substitutions
#undef TURNS_RUN_OUT
#define TURNS_RUN_OUT
    # Adds an objective indicating that you lose when turns run out
    [objective]
        description= _ "Turns run out"
        condition=lose
        show_turn_counter=yes
        {OBJECTIVE_FORMAT:LOSS}
    [/objective]
#enddef

#define OBJECTIVE_TSTR:VICTORY
    _ "Victory:" #enddef

#define OBJECTIVE_TSTR:DEFEAT
    _ "Defeat:" #enddef

#define OBJECTIVE_TSTR:GOLD
    _ "Gold carryover:" #enddef

#define OBJECTIVE_TSTR:NOTES
    _ "Notes:" #enddef

#define OBJECTIVE_TSTR:ALTERNATIVE
    _ "Alternative objective:" #enddef

#define OBJECTIVE_TSTR:BONUS
    _ "Bonus objective:" #enddef

#define OBJECTIVE_TSTR:OPTIONAL
    _ "Optional objective:" #enddef

#textdomain wesnoth-Naia

#define MAKE_OBJECTIVE_CAPTION TEXT
    "<span size='medium'>"+{TEXT}+"</span>" #enddef

#define OBJECTIVES _OBJECTIVES
#arg SIDE
    1
#endarg
    [objectives]
        side={SIDE}
        bullet=" <span weight='bold' color='#ccc'>-</span> "

        victory_string={MAKE_OBJECTIVE_CAPTION {OBJECTIVE_TSTR:VICTORY}}
        defeat_string={MAKE_OBJECTIVE_CAPTION {OBJECTIVE_TSTR:DEFEAT}}
        gold_carryover_string={MAKE_OBJECTIVE_CAPTION {OBJECTIVE_TSTR:GOLD}}
        notes_string={MAKE_OBJECTIVE_CAPTION {OBJECTIVE_TSTR:NOTES}}

        {_OBJECTIVES}
    [/objectives]
#enddef

#define OBJECTIVE_VICTORY _TEXT
    [objective]
        description={_TEXT}
        condition=win
        {OBJECTIVE_FORMAT:WIN}
    [/objective]
#enddef

#define OBJECTIVE_VICTORY_END_OF_TURNS
    [objective]
        description= _ "Resist until the end of turns"
        condition=win
        show_turn_counter=yes
        {OBJECTIVE_FORMAT:WIN}
    [/objective]
#enddef

#define OBJECTIVE_OR
    [objective]
        bullet="   "
        description="<small>"+_"— or —"+"</small>"
        {OBJECTIVE_FORMAT:PLAIN}
        condition=win
    [/objective]
#enddef

#define OBJECTIVE_DEFEAT _TEXT
    [objective]
        description={_TEXT}
        condition=lose
        {OBJECTIVE_FORMAT:LOSS}
    [/objective]
#enddef

#define OBJECTIVE_ALTERNATIVE _TEXT
    {OBJECTIVE_OR}
    [objective]
        description={_TEXT} # wmllint: ignore
        condition=win
        {OBJECTIVE_FORMAT:WIN}
    [/objective]
#enddef

#define OBJECTIVE_ALTERNATIVE_BONUS _TEXT
    {OBJECTIVE_OR}
    [objective]
        description={_TEXT}+{EARLY_FINISH_BONUS_FOOTNOTE}
        condition=win
        {OBJECTIVE_FORMAT:WIN}
    [/objective]
#enddef

#define OBJECTIVE_BONUS _TEXT
    [objective]
        caption={MAKE_OBJECTIVE_CAPTION {OBJECTIVE_TSTR:BONUS}}
        description={_TEXT}+{EARLY_FINISH_BONUS_FOOTNOTE}
        condition=win
        {OBJECTIVE_FORMAT:WIN}
    [/objective]
#enddef

#define OBJECTIVE_BONUS_COMPLETED _TEXT
    [objective]
        caption={MAKE_OBJECTIVE_CAPTION {OBJECTIVE_TSTR:BONUS}}
        description="<s>"+{_TEXT}+{EARLY_FINISH_BONUS_FOOTNOTE}+"</s>"
        condition=win
        {OBJECTIVE_FORMAT:WIN}
    [/objective]
#enddef

#define OBJECTIVE_OPTIONAL _TEXT
    [objective]
        caption={MAKE_OBJECTIVE_CAPTION {OBJECTIVE_TSTR:OPTIONAL}}
        description={_TEXT}
        condition=win
        {OBJECTIVE_FORMAT:WIN}
    [/objective]
#enddef

#define OBJECTIVE_SHOW_IF _COND
    [+objective]
        [show_if]
            {_COND}
        [/show_if]
    [/objective]
#enddef

#define OBJECTIVE_CARRYOVER
    [gold_carryover]
        bonus,carryover_percentage=yes,40
        {OBJECTIVE_FORMAT:CARRYOVER}
    [/gold_carryover]
#enddef

#define OBJECTIVE_CARRYOVER_SHOW_IF _COND
    [+gold_carryover]
        [show_if]
            {_COND}
        [/show_if]
    [/gold_carryover]
#enddef

#define OBJECTIVE_CARRYOVER_NO_BONUS
    [gold_carryover]
        bonus,carryover_percentage=no,40
        {OBJECTIVE_FORMAT:CARRYOVER}
    [/gold_carryover]
#enddef

#define OBJECTIVE_NO_CARRYOVER
    [gold_carryover]
        bonus,carryover_percentage=no,0
        {OBJECTIVE_FORMAT:CARRYOVER}
    [/gold_carryover]
#enddef

#define OBJECTIVE_FULL_CARRYOVER
    [gold_carryover]
        bonus,carryover_percentage=no,100
        {OBJECTIVE_FORMAT:CARRYOVER}
    [/gold_carryover]
#enddef

#define OBJECTIVE_NOTE _TEXT
    [note]
        description={_TEXT}
        {OBJECTIVE_FORMAT:PLAIN}
    [/note]
#enddef

#define OBJECTIVE_NOTE_SHOW_IF _COND
    [+note]
        [show_if]
            {_COND}
        [/show_if]
    [/note]
#enddef

#define NO_UNIT_CARRYOVER_NOTE
    {OBJECTIVE_NOTE ( _ "You will not be able to recall any units from this scenario later")}
#enddef
