#textdomain wesnoth-Naia

#define STORYTXT_IN_PRESTART _WML
    [event]
        name=prestart

        {_WML}
    [/event]
#enddef

#define CAMPAIGN_INTRO_HEADER
    image=project-ethea-logo.webp~SCALE(128,128)
    music=data/core/sounds/ambient/wardrums.ogg
#enddef

#define CAMPAIGN_INTRO_PADDING
    "

" #enddef

# wmlindent: start ignoring
#define CAMPAIGN_INTRO_GAMEPLAY_WARNING
    _ "Some scenarios of this campaign work significantly different from normal Wesnoth gameplay. It is especially important to pay close attention to the mission objectives and not necessarily try to kill every single enemy, especially on shrouded maps, or in places where enemies seem to respawn continuously." #enddef

#ifdef CAMPAIGN_INVASION_FROM_THE_UNKNOWN

#define CAMPAIGN_INTRO_CONTENT_WARNING
    _ "Although not strictly required, players are advised to become familiar with the stories, characters, and historical events presented in <span color='#bcb088' style='italic'>Under the Burning Suns</span>, and (optionally) <span color='#bcb088' style='italic'>Descent into Darkness</span> before playing this campaign." #enddef

#else

#define CAMPAIGN_INTRO_CONTENT_WARNING
    _ "Although not strictly required, players are advised to become familiar with the stories, characters, and historical events presented in <span color='#bcb088' style='italic'>Under the Burning Suns</span>, <span color='#bcb088' style='italic'>Invasion from the Unknown</span>, and (optionally) <span color='#bcb088' style='italic'>Descent into Darkness</span> before playing this campaign." #enddef

#endif

#define CAMPAIGN_INTRO_OPTIONS_WARNING
    _ "Certain sequences make use of floating labels, halos, and standing unit animations, so you may want to ensure these options are enabled under <span color='#bcb088'>Preferences → Display</span>." #enddef

# wmllint: markcheck off

#define STORYTXT_TITLE_CARD _ID _MAIN_TITLE _ALTERNATE_TITLE
    title="<span color='#BCB088'><span size='larger'>"+{_MAIN_TITLE}+" <small>("+{_ALTERNATE_TITLE}+")</small></span>
<small>"+{_ID}+"</small></span>"
#enddef

#define STORYTXT_TITLE_CARD_SIMPLE _ID _MAIN_TITLE
    title="<span color='#BCB088'><span size='larger'>"+{_MAIN_TITLE}+"</span>
<small>"+{_ID}+"</small></span>"
#enddef

#define STORYTXT_CAPTION _TEXT
    "<span color='#bcb088' size='larger'>"+{_TEXT}+"</span>

" #enddef

# wmllint: markcheck on

# wmlindent: stop ignoring
