#textdomain wesnoth-Naia

#define QUAKE_HEAVY _SOUND
    [quake]
        sound={_SOUND}
        strength=20
    [/quake]
#enddef

#define QUAKE_HEAVIER _SOUND
    [quake]
        sound={_SOUND}
        strength=40
    [/quake]
#enddef

#define BLACK_SCREEN
    [cloak_screen]
        red,green,blue=0,0,0
    [/cloak_screen]
#enddef

#define WHITE_SCREEN
    [cloak_screen]
        red,green,blue=255,255,255
    [/cloak_screen]
#enddef

#define RED_SCREEN
    [cloak_screen]
        red,green,blue=255,0,0
    [/cloak_screen]
#enddef

#define RESET_SCREEN
    [reset_screen][/reset_screen]
#enddef

#define HIGHLIGHT_GOAL _SLF
    [highlight_goal]
        {_SLF}
    [/highlight_goal]
#enddef

#define UNIT_SPELL_POPUP _SUF _TEXT
    [floating_text]
        [filter]
            {_SUF}
        [/filter]
        text="<span color='#7f7fff'>"+{_TEXT}+"</span>" # wmllint: ignore
    [/floating_text]
#enddef
