#textdomain wesnoth-Naia

#define QUAKE_HEAVY _SOUND
    [quake]
        sound={_SOUND}
        strength=20
    [/quake]
#enddef

#define QUAKE_HEAVIER _SOUND
    [quake]
        sound={_SOUND}
        strength=40
    [/quake]
#enddef

#define BLACK_SCREEN
    [cloak_screen]
        red,green,blue=0,0,0
    [/cloak_screen]
#enddef

#define WHITE_SCREEN
    [cloak_screen]
        red,green,blue=255,255,255
    [/cloak_screen]
#enddef

#define RED_SCREEN
    [cloak_screen]
        red,green,blue=255,0,0
    [/cloak_screen]
#enddef

#define RESET_SCREEN
    [reset_screen][/reset_screen]
#enddef

#define VOID_TERRAIN_TINT
    [color_adjust]
        red,green,blue=-512,-512,-512
    [/color_adjust]
#enddef

#define RESET_TERRAIN_TINT
    [color_adjust]
        red,green,blue=0,0,0
    [/color_adjust]
#enddef

#define HIGHLIGHT_GOAL _SLF
    [highlight_goal]
        {_SLF}
    [/highlight_goal]
#enddef

#define UNIT_SPELL_POPUP _SUF _TEXT
    [floating_text]
        [filter]
            {_SUF}
        [/filter]
        text="<span color='#7f7fff'>"+{_TEXT}+"</span>" # wmllint: ignore
    [/floating_text]
#enddef

#define ENVIRONMENT:FIRE _X _Y
    {VARIABLE_RANDOM temp_EFX_start_pos 1-7}

    [switch]
        variable=temp_EFX_start_pos
        [case]
            value=1
            {VARIABLE temp_EFX_frameset "[01~15]"}
        [/case]
        [case]
            value=2
            {VARIABLE temp_EFX_frameset "[03~15,01~02]"}
        [/case]
        [case]
            value=3
            {VARIABLE temp_EFX_frameset "[05~15,01~04]"}
        [/case]
        [case]
            value=4
            {VARIABLE temp_EFX_frameset "[07~15,01~06]"}
        [/case]
        [case]
            value=5
            {VARIABLE temp_EFX_frameset "[09~15,01~08]"}
        [/case]
        [case]
            value=6
            {VARIABLE temp_EFX_frameset "[11~15,01~10]"}
        [/case]
        [else]
            value=7
            {VARIABLE temp_EFX_frameset "[13~15,01~12]"}
        [/else]
    [/switch]

    [item]
        x,y={_X},{_Y}
        halo="terrain/environment/fire-$temp_EFX_frameset|.png"
        name=environment_fx_fire
        redraw=no
    [/item]

    {CLEAR_VARIABLE temp_EFX_frameset,temp_EFX_start_pos}
#enddef

#define ENVIRONMENT:FIREFLIES _SLF
#arg PROB
    60
#endarg
    [visualfx_setup_fireflies]
        {_SLF}
        probability={PROB}
    [/visualfx_setup_fireflies]
#enddef
